.chatIndividual__mensaje{
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatIndividual__timeStamp{
    text-align: center;
    color: gray;
    width: 100%;
    padding: 20px;
}
.chatIndividual__mensaje_texto{
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}
.chatIndividual__mensaje_propio{
    background-color: skyblue;
    margin-left: auto;
    padding: 15px;
    border-radius: 20px;
    color: white;
}
.chatIndividual__input{
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}
.chatIndividual__input_input{
    padding: 10px;
    flex: 1;
    border: none;
}
.chatIndividual__input_send{
    border: none;
    background-color: white;
    margin-right: 20px;
    color:#ff4a6a;
    font-weight: bolder;
}